<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form action="/api/sessions/register" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="_f_name">First name:</label>
                            <input type="text" name="firstName" id="_f_name" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="_l_name">Last name:</label>
                            <input type="text" name="lastName" id="_l_name" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="_age">Age:</label>
                            <input type="number" name="age" id="_age" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="_email">Email:</label>
                            <input type="email" name="email" id="_email" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="_pass">Password:</label>
                            <input type="password" name="password" id="_pass" class="form-control" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
