 <div class="container">
            <div class="alert alert-success" role="alert">
                <p>Bienvenido, estás autenticado.</p>
            </div>
        </div>
        <div class="container">
    <h1>Add Product</h1>
    <form action="/profile" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
<br>
<form action="/profile" method="GET" class="mb-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <input type="text" name="search" class="form-control" placeholder="Buscar por nombre o descripción">
        </div>
        <div class="col-md-4 mb-3">
            <input type="number" name="minPrice" class="form-control" placeholder="Precio mínimo">
        </div>
        <div class="col-md-4 mb-3">
            <input type="number" name="maxPrice" class="form-control" placeholder="Precio máximo">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

    <!-- Lista de productos -->
        <div class="mt-5">
            <h3>Product List</h3>
            <div id="product-list">
                {{#each products}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">Price: ${{this.price}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="pagination justify-content-center">
    <a class="page-link" href="/profile?page=1">Página 1</a>
    <a class="page-link" href="/profile?page=2">Página 2</a>
    <a class="page-link" href="/profile?page=3">Página 3</a>
    <a class="page-link" href="/profile?page=4">Página 4</a>
</div>
       
  
  

