<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>

    <style>
        /* Estilos CSS para la lista de productos */
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #dc1414;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Lista de Producto</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{name}}</h2>
                <p>Precio: {{price}}</p>
                <p>Descripción: {{description}}</p>
            </li>
        {{/each}}
    </ul>
     <button class="but-view">Ir a Real-Time Products</button>

         <script src="/buttons.js"></script>
</body>
 </html>
