<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <script src="/socket.io/socket.io.js" ></script>

    <style>
        /* Estilos CSS para la lista de productos */
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #dc1414;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Error producto</h1>
   

         <script src="/buttons.js"></script>
         <script src="/carts.js"></script>
</body>
 </html>